@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "mixins";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  width: 100vw;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 5px 0;
  width: 100vw;
  background-color: #111;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  .navbar__Container {
    width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar__Logo {
    font-size: 20px;
    font-weight: 500;
  }
  .navbar__Links {
    @include flex-end;
    width: 70%;
    a,
    button {
      font-size: 16px;
      cursor: pointer;
      color: #fff;
      padding: 0 15px;
      border: 2px solid #000;
      margin-right: 20px;
      border: none;
      background-color: transparent;
    }
    .navbar__Links__Logout {
      border: 2px solid #fff;
      background-color: #fff;
      color: #000;
      padding: 0 15px;
      margin: 0 !important;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}
.authorization {
  @include flex-center;
  width: 100vw;
  height: 100vh;
  .login {
    @include flex-column-center-start;
    width: 350px;
    border: 3px dashed #000;
    button {
      @include button;
      margin-bottom: 20px;
    }
    .login__Title {
      margin: 15px 0;
      font-size: 30px;
      font-weight: 500;
    }
  }
  .login__Fields {
    width: 100%;
    padding: 15px 0;
    margin: 10px 0;
    @include flex-column-center;
    .login__Fields__Title {
      margin-bottom: 10px;
      font-size: 20px;
    }
    & > div {
      margin: 20px 0;
      input {
        border: none;
        outline: none;
        border-bottom: 2px solid #000;
      }
      @include flex-column-center;
    }
  }
}
.error {
  margin: 10px 0;
  color: red;
}
.login__Fields__Redirect {
  cursor: pointer;
  color: #555;
  margin-bottom: 15px;
  text-align: center;
}
.admin {
  margin-top: 45px;
  width: 100vw;
  min-height: 50vh;
  .admin__Fields {
    width: 80%;
    margin: 100px auto 50px auto;
    padding: 10px 0;
    border: 3px dashed #000;
    button {
      @include button;
      margin-bottom: 20px;
    }
    @include flex-column-center;
    .admin__Fileds__Title {
      font-size: 35px;
      margin-bottom: 20px;
      width: 90%;
      border-bottom: 2px dashed #000;
    }
    .admin__Fileds__Title__label {
      width: 90%;
      margin: 20px 0;
      font-size: 20px;
      label {
        font-size: 20pt;
      }
      textarea {
        width: 100%;
        @include textarea;
        font-size: 18px;
      }
      input {
        @include input;
        width: 100%;
        font-size: 18px;
      }
    }
  }
}
.home {
  margin-top: 100px;
  width: 100vw;
  @include flex-column-center;
}
.home__Title {
  width: 80%;
  font-size: 35px;
  margin-bottom: 20px;
}
.home__EmptyTodos {
  border: none;
  text-align: center;
  font-size: 15pt;
}
.list,
.home__EmptyTodos {
  margin: 10px 0;
  width: 80%;
  padding: 10px 15px;
  border: 2px dashed #000;
  .list__Title {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
  }
  button {
    @include button;
  }
  .list__Text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }
}
.todo {
  width: 100vw;
  margin: 100px 0 50px 0;
  min-height: 50vh;
  color: #000;
  .todo__Container {
    width: 80%;
    margin: 0 auto 0 auto;
    border: 2px dashed #000;
    padding: 30px 15px;
    & > div {
      margin-top: 15px;
      font-size: 15pt;
    }
    button {
      margin-top: 55px;
      @include button;
    }
    .todo__Container__Title {
      font-size: 25pt;
      font-weight: 700;
      border-bottom: 2px solid #000;
    }
  }
}
.navbar__container__username {
  background-color: #fff;
  padding: 2px 15px;
  margin-right: 5px;
  color: #000;
  span {
    font-weight: 700;
  }
}
.router-link-exact-active {
  border: 2px solid #fff !important;
  padding: 2px 15px;
  background-color: #555;
}
.buttonFields {
  width: 80%;
  @include flex-space-around;
  margin: 100px auto 0 auto;
  button {
    @include button;
  }
  .buttonFields__buttons__active {
    transition: all 0.3s ease-in-out;
    color: #000;
    background-color: #fff;
  }
}
.todos {
  @include flex-column-center;
  margin: 100px auto 0 auto;
  .todos_list_for_admin {
    padding: 10px 15px;
    border: 2px dashed #000;
    width: 80%;
    margin: 10px 0;
    .todos_list_for_admin__title {
      margin-bottom: 15px;
      font-size: 20px;
      font-weight: 700;
    }
    .todos_list_for_admin__text {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 10px;
    }
    button {
      @include button;
    }
    .delete-btn {
      @include delete-button;
    }
  }
}
